*/**/.directory
.idea/*
tests/**/Rplots.pdf
sbpipe/**/*.pyc
logs/*.log*
docs/source/*_manual.rst
docs/source/source_code/*.rst
docs/build/doctrees/*
docs/build/html/objects.inv
docs/build/html/.buildinfo
docs/build/latex/*.sty
docs/build/latex/Makefile
docs/build/latex/*.ist
docs/build/latex/*.png
docs/build/latex/*.aux
docs/build/latex/*.idx
docs/build/latex/*.ilg
docs/build/latex/*.ind
docs/build/latex/*.log
docs/build/latex/*.out
docs/build/latex/*.tex
docs/build/latex/*.toc
docs/build/latex/*.cls
