language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
before_install:
  - export PYTHONPATH=$PYTHONPATH:$(pwd)
#okay! :-)
#  - sudo add-apt-repository ppa:marutter/rrutter -y
#  - sudo add-apt-repository ppa:texlive-backports/ppa -y
  - sudo add-apt-repository ppa:andrikos/ppa -y
  - sudo apt-get update -q
  - sudo apt-get -y --force-yes install liblapack3
#  - sudo apt-get -y --force-yes install python-pip python-pp python-scipy python-numpy
#  - sudo apt-get -y --force-yes install r-base r-base-dev r-cran-abind r-cran-stringr 
#  - sudo apt-get -y --force-yes --no-install-recommends install texlive-latex-base texlive-latex-recommended
install:
  # install other dependencies
  - pip install -r requirements.txt
  - export SB_PIPE="${HOME}/pdp10/sb_pipe"
  - python setup.py install
# command to run tests
script:
#  - nosetests -v --with-coverage --cover-tests --cover-package=noseselecttests noseselecttests/tests.py
  - export SB_PIPE="${HOME}/pdp10/sb_pipe"
#  - nosetests -v tests/test_suite.py

