# Include the license file
include LICENSE

# Include the version file
include sbpipe/VERSION

# Include the logging configuration file
include sbpipe/logging_config.ini

# Include man pages
#recursive-include man_pages

# Include the data files
#recursive-include data *

